<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server" value="BJYBDB_DEV_172.20.65.153"/>
    <add key="Aspect" value="appconfig"/>
    
    <!--<add key="server" value="oracle"/>-->
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceTestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3924/WebServiceTest.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceTestSoap"
        contract="ServiceReference1.WebServiceTestSoap" name="WebServiceTestSoap" />
    </client>
  </system.serviceModel>
</configuration>
